h1.first.title {
    color: rebeccapurple;
}

h2.last.title {
    color: red;
}

.content p~ul {
    color: blue;
    background-color: rgb(116, 18, 207);
}

.content p~.children ul {
    background: green;
}

.menu li+li+li a {
    color: red;
}

.lists p+ul {
    color: red;
}